<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>YouTune</title>
        <link rel="shortcut icon"
              href="<%= require('./favicon.ico').default %>"
              type="image/x-icon"
        />

        <link rel="icon"
              href="<%= require('./favicon.ico').default %>"
              type="image/x-icon"
        />

        <link rel="stylesheet"
              href="<%= require('./style.css').default %>"
              type="text/css"
        />
        
        <script>
            window.setImmediate = window.setTimeout;
            var process = undefined;

            if (window.Notification)
                Notification.requestPermission();

            window.isUpdateAvailable = new Promise(function(resolve, reject) {
                // lazy way of disabling service workers while developing
                if ('serviceWorker' in navigator) {
                    // register service worker file
                    navigator.serviceWorker.register('/service-worker.js')
                        .then(reg => {
                            reg.onupdatefound = () => {
                                const installingWorker = reg.installing;
                                installingWorker.onstatechange = () => {
                                    switch (installingWorker.state) {
                                        case 'installed':
                                            if (navigator.serviceWorker.controller)
                                                // new update available
                                                return resolve(true);
                                                
                                            else
                                                // no update available
                                                return resolve(false);
                                    }
                                };
                            };
                        })

                        .catch(err => console.error('[SW ERROR]', err));
                } else {
                    resolve(false);
                }
            });
       </script>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>