html,
body {
    overscroll-behavior: none;
    user-select: none;
}

#app > div > div > div {
    position: fixed;
    height: 100%;
    width: 100%;
}

#canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    transition: opacity .5s ease-in-out;
    z-index: 2;
}

#background {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}