<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>YouTune</title>
        <link rel="shortcut icon"
              href="<%= require('./favicon.ico').default %>"
              type="image/x-icon"
        />

        <link rel="icon"
              href="<%= require('./favicon.ico').default %>"
              type="image/x-icon"
        />
        <link rel="stylesheet"
              href="<%= require('./main.web.css').default %>"
        />
        <script>
            window.setImmediate = window.setTimeout;
       </script>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>