<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>YouTune</title>
        <link rel="shortcut icon"
              href="<%= require('./favicon.ico').default %>"
              type="image/x-icon"
        />

        <link rel="icon"
              href="<%= require('./favicon.ico').default %>"
              type="image/x-icon"
        />

        <link rel="stylesheet"
              href="<%= require('./style.css').default %>"
              type="text/css"
        />

        <script>
            window.setImmediate = window.setTimeout;
            var process = {
                env: {
                    NODE_DEV: "false"
                }
            };

            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js').then(registration => {
                        console.log('SW registered: ', registration);
                    }).catch(registrationError => {
                        console.log('SW registration failed: ', registrationError);
                    });
                });
            }

            let deferredPrompt;
            window.addEventListener('beforeinstallprompt', e => {
                // Prevent the mini-infobar from appearing on mobile
                e.preventDefault();
                // Stash the event so it can be triggered later.
                deferredPrompt = e;
                // Update UI notify the user they can install the PWA
                //showInstallPromotion();
                // Optionally, send analytics event that PWA install promo was shown.
                console.log(`'beforeinstallprompt' event was fired.`);
            });

            window.addEventListener('appinstalled', () => {
                // Hide the app-provided install promotion
                hideInstallPromotion();
                // Clear the deferredPrompt so it can be garbage collected
                deferredPrompt = null;
                // Optionally, send analytics event to indicate successful install
                console.log('PWA was installed');
            });
       </script>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>