html {
    height: 100%;
    overscroll-behavior: none;
}

body {
    height: 100%;
}

#app {
    height: 100%;
    width: 100%;
}

#app > div {
    height: 100%
}

/*div.r-display-6koalj:nth-child(2) > div:nth-child(2) > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
    flex-shrink: 1;
}*/

.r-backgroundSize-ehq7j7 {
    font-family: MaterialIcons;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
}